@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

.geral-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* border: 1px solid red; */
  padding: 60px 12px;
  font-family: 'Rubik', sans-serif;
}

.work {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  position: relative;
  border-radius: 12px 12px 0 0;
  z-index: -1;
  margin-bottom: -26px;
  background: rgb(255, 140, 102);
}