@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

.geral-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* border: 1px solid red; */
  padding: 60px 12px;
  font-family: 'Rubik', sans-serif;
}

.work {
  height: 70px;
  overflow: hidden;
  background: rgb(255, 140, 102);
}

.play {
  height: 70px;
  overflow: hidden;
  background: rgb(86, 194, 230);
}

.study {
  height: 70px;
  overflow: hidden;
  background: rgb(255, 92, 124);
}

.exercise {
  height: 70px;
  overflow: hidden;
  background: rgb(74, 207, 129);
}

.social {
  height: 70px;
  overflow: hidden;
  background: rgb(117, 54, 211);
}

.selfcare {
  height: 70px;
  overflow: hidden;
  background: rgb(241, 198, 91);
}